.field {clear:both; text-align:right; line-height:25px;}
label {float:left; padding-right:10px;}
.main {float:left}
/***********************/
/* Ajax Loader styles */
.box-4 {
    position:relative;
    overflow:hidden;
    float:left;
}

.blue-loader .ajax_loader {background: url("../images/ajax-loader_blue.gif") no-repeat center center transparent;}